<tui-tiles
           class="tiles"
           [debounce]="200"
           [(order)]="order"
           (orderChange)=onDrag()>
  <tui-tile
            *ngFor="let block of blocks; let index = index"
            class="tile"
            [height]="block.height"
            [style.order]="order.get(index)"
            [width]=3>
    <div class="content">
      {{block.name}}
      <ng-container *ngComponentOutlet="block.component; ndcDynamicInputs: block.inputs;
      ndcDynamicOutputs: block.outputs" />
      <tui-svg src="tuiIconDragLarge"
               tuiTileHandle
               class="handle"></tui-svg>
      <tui-svg class="delete" src="tuiIconX" (click)=removeComponent(index)></tui-svg>
    </div>

  </tui-tile>
</tui-tiles>

<button
        appearance="primary"
        tuiButton
        type="button"
        class="tui-space_right-3 tui-space_bottom-3"
        (click)=addComponent(components.ContentTextComponent)>
  ContentText
</button>

<button
        appearance="primary"
        tuiButton
        type="button"
        class="tui-space_right-3 tui-space_bottom-3"
        (click)=addComponent(components.PreheaderComponent)>
  Preheader
</button>

<button
        appearance="primary"
        tuiButton
        type="button"
        class="tui-space_right-3 tui-space_bottom-3"
        (click)=addComponent(components.HeaderTitleComponent)>
  HeaderTitle
</button>

<button
        appearance="primary"
        tuiButton
        type="button"
        class="tui-space_right-3 tui-space_bottom-3"
        (click)=addComponent(components.HeaderTextComponent)>
    HeaderText
</button>

<button
        appearance="primary"
        tuiButton
        type="button"
        class="tui-space_right-3 tui-space_bottom-3"
        (click)=addComponent(components.LittleTitleComponent)>
  LittleTitle
</button>

<button
        appearance="primary"
        tuiButton
        type="button"
        class="tui-space_right-3 tui-space_bottom-3"
        (click)=addComponent(components.AccentTextWithBackgroundComponent)>
  AccentTextWithBackground
</button>

<button
        appearance="primary"
        tuiButton
        type="button"
        class="tui-space_right-3 tui-space_bottom-3"
        (click)=addComponent(components.AccentTextWithBorderComponent)>
  AccentTextWithBorder
</button>

<button
        appearance="primary"
        tuiButton
        type="button"
        class="tui-space_right-3 tui-space_bottom-3"
        (click)=addComponent(components.TextLineComponent)>
  TextLine
</button>

<button
        appearance="primary"
        tuiButton
        type="button"
        class="tui-space_right-3 tui-space_bottom-3"
        (click)=addComponent(components.ImageComponent)>
  Image
</button>

<button
        appearance="primary"
        tuiButton
        type="button"
        class="tui-space_right-3 tui-space_bottom-3"
        (click)=addComponent(components.ButtonWithBackgroundComponent)>
  ButtonWithBackground
</button>

<button
        appearance="primary"
        tuiButton
        type="button"
        class="tui-space_right-3 tui-space_bottom-3"
        (click)=addComponent(components.FooterOneComponent)>
  FooterOne
</button>

<button
        appearance="primary"
        tuiButton
        type="button"
        class="tui-space_right-3 tui-space_bottom-3"
        (click)=addComponent(components.FooterTwoComponent)>
  FooterTwo
</button>

<button
        appearance="primary"
        tuiButton
        type="button"
        class="tui-space_right-3 tui-space_bottom-3"
        (click)=addComponent(components.FooterFourComponent)>
  FooterFour
</button>